.box {
    background: linear-gradient(45deg, rgb(55,66,91,1) 30%, rgb(68, 90, 141) 90%);
    border-radius: 5px;
    color:white;
    padding: 0px;
    width: 250px;
    box-shadow: 0 3px 5px 2px rgb(55,66,91,0.3);
    text-align: center;
    transition: 0.3s;
}
.title {
    top:0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}
.des {
    top:0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
    min-height: 15px;
    max-height: 15px;
    opacity: 0;
    overflow: clip;
    clip-path: rect(-500px, 0px, 0px, 0px);
    visibility: hidden;
    padding-left: 0px;
    padding-right: 10px;
    transition: 0.3s;
}
.box:hover {
    .des {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        padding-left: 10px;
    }
    background: linear-gradient(45deg, rgb(55,66,91,1) 30%, rgb(68, 90, 141) 90%);
    border-radius: 5px;
    color:white;
    width: 250px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 3px 5px 2px rgba(68, 90, 141, .3);
}
.img-box {
    height: 190px;
    width: 190px;
    top:-80px;
    object-fit: fill;
    border-radius: 6px;
    /* border: 1px solid black;  */
    box-shadow: 0 3px 5px 2px rgba(68, 90, 141, 0.3);
    position: relative;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prof-container {
    margin: 10px;
    width: fit-content;
    padding-top: 80px;
}
.name {
    margin-top: -75px;
    font-size: 27px;
    /* font-size: x-large; */
}
