/* Style the video: 100% width and height to cover the entire window */
#myImage {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto !important;
}
 /* Add some content at the bottom of the video/page */
.content {
    position: absolute !important;
    margin-top:-200px;
    background: linear-gradient(to bottom, rgb(55,66,91,0), rgb(55,66,91,1));
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: 200px;
}
