.iras-lab-about-section-1 {
    background-image: linear-gradient(to bottom, transparent, transparent calc(100% - 200px), var(--color-base-blue)), url("../img/IRAS_LAB_2021.jpg");
}
#Home-About-Container {
    animation: fadeIn 2s ease-in-out forwards;
}
#About-text {
    background-color: color-mix(in srgb, var(--color-base-blue) 70%, transparent);
}
.iras-lab-about-section-end {
    background-image: linear-gradient(to bottom, var(--color-base-blue), transparent 200px), url("../img/IRAS_LOGO.jpg");
}
#transition-contact-section {
    background-image: linear-gradient(transparent, var(--color-base-blue));
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}