.projectItem {
    &.smallThumbs {
        --imgSizeModified: calc(var(--imgSize, 24px) / 2);
        --bordSizeModified: calc(var(--bordSize, 0));
    }

    --finalImgSize: var(--imgSizeModified, var(--imgSize, 24px));
    --finalBordSize: var(--bordSizeModified, var(--bordSize, 0));
    --totalThumbSize: calc(var(--finalImgSize) + var(--finalBordSize) * 2);

    &:has(a):hover {
        color: #2a3858;
        text-decoration: underline;

        .imgBord {
            border: var(--color-brighter-blue) solid var(--finalBordSize);
            padding: calc(var(--finalImgSize) * .5);
        }
    }
}