.projectItem {
    .projectItemMedia {
        width: calc(var(--imgSize, 24) + var(--bordSize, 0) * 2);
        height: calc(var(--imgSize, 24) + var(--bordSize, 0) * 2);
    }
    .imgBord {
        padding: calc(var(--imgSize, 24) / 2 + var(--bordSize, 0));
    }
    img {
        max-height: var(--imgSize, 24);
        left: calc(var(--bordSize, 0) * 2);
        top: calc(var(--bordSize, 0) * 2);
    }
    video {
        width: var(--imgSize, 24);
        height: var(--imgSize, 24);
        max-height: var(--imgSize, 24);
        left: var(--bordSize, 0);
    }
    &:has(a):hover {
        color: #2a3858;
        text-decoration: underline;

        .imgBord {
            border: blue solid var(--bordSize, 0);
            padding: calc(var(--imgSize, 24) / 2);
        }
    }
}