/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto !important;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute !important;
    margin-top:-200px;
    background: linear-gradient(to bottom, rgb(55,66,91,0), rgb(55,66,91,1));
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: 200px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  .PriorProject1_img{
    display:flex;
    justify-content: space-around;
    background-color: rgb(55,66,91,1);
    padding: 50px;
  }
  .PriorProject1_publication{
    color: white;
    background-color: rgb(55,66,91,1);
    padding: 50px;
  }
  .PriorProject1_publication::before{
    content: "";
    display: block;
    margin: 0 auto; /* Center the border */

    border-top:1px solid white;
    width: 60vw;
  }