@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .ProjectUI_header {
        &:is(h1) {
            @apply text-center font-bold p-5 text-xl no-hamburger:text-2xl;
        }
        &:is(h2) {
            @apply text-center font-bold p-5 no-hamburger:text-xl;
        }
    }
    .nav-Button {
        @apply block mt-4 mr-4 text-teal-200 no-hamburger:inline-block no-hamburger:mt-0 hover:text-white;
    }
    .nav-Publication {
        @apply inline-block mt-4 text-white no-hamburger:mt-0 no-hamburger:text-xl
                px-4 py-2 leading-none border rounded border-white
                hover:border-transparent hover:text-base-blue hover:bg-white
    }
    .big_h1 {
        h1 {
            @apply font-bold text-[xx-large]
        }
        ul li, ol li {
            @apply p-[5px] text-[large]
        }
    }
}

.mathJax_gradient {
    background-image: linear-gradient(to right, rgb(30 58 138), transparent 32px, transparent calc(100% - 32px), rgb(30 58 138) 100%);
}

@counter-style bracketed {
    system: extends decimal;
    prefix: "[";
    suffix: "] ";
}

:root {
    --color-base-blue: #37425B;
    --color-brighter-blue: #213461;
}

::selection {
    color: white;
    background-color: var(--color-base-blue);
}

Nav ::selection {
    background-color: var(--color-brighter-blue);
}