@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-Logo {
    width: 200px;
    height: auto;
    filter: invert(1);
}

@layer components {
    .nav-Button {
        @apply block mt-4 mr-4 text-teal-200 lg:inline-block lg:mt-0 hover:text-white
    }

    .nav-Publication {
        @apply inline-block mt-4 text-white lg:mt-0 lg:text-xl
                px-4 py-2 leading-none border rounded border-white
                hover:border-transparent hover:text-[#37425B] hover:bg-white
    }
}
