.menu-box {
    display: flex;
    width: 90%;
}
.menu-box h2 {
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
}
.content-box {
    width: 90%;
    height: auto;
    border: 1px solid black;
    padding: 40px;
}
.Publication h1 {
    font-weight: bold;
    font-size: xx-large;
}
.Publication ol {
    list-style-type: decimal ;
}
.Publication h2 {
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
}
.Publication ol li {
    font-size: large;
    padding:5px
}
.Publication {
    padding-left: 50px;
}
