.backgroundContainerGradient {
    background: linear-gradient(to bottom, transparent, rgb(55,66,91));
}
.content h1 {
      filter: drop-shadow(5px 5px 0.5rem #000);
}
.ProjectUI_publication::before {
    content: "";
    display: block;
    margin: 0 auto; /* Center the border */
    border-top: 1px solid white;
    width: 60vw;
}
.ProjectUI a {
    text-decoration: underline;
    color: rgb(59, 130, 246);
}
